<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maxwell's Dogs</title>

    <h1>Welcome to Maxwell's Dogs!</h1>

    <a href="/signup">Sign Up</a>

    <a href="/login">Log In</a>
  </head>
  <body>

  </body>
</html>
